body{
	background-color: #902031;
}

h1{background-color: #534E4F;  
    margin-left: 6%;
    margin-right: 32%;
    text-align: center;
    color: #100101;
    font-family: Helvetica;
    font-size:30 ;}